.caja{

	float:left;
	width: 12em;
	height: 12em;
	background-color: #EAF2F8  ;
	border: .1em solid #2980B9  ;
	color: #154360;
	padding: 1em;
	text-align: center
}

p{
	font-size: 14px;
	font: sans-serif;
}
.iconos{
	font-size: 20px;
}
h4{
	font-family: 'Berkshire Swash', cursive;
}